extends layout

block content
    .container(style='margin-top:70px')
        .row
            .col-md-6
                .bar7
                    input.myinput1(placeholder="影片名称")
                    button.mybutton1 搜索
                .window
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span.bullet.bullet-red
                        span.bullet.bullet-green
                        span.bullet.bullet-yellow
                        a.title(href='/') 史上最恐怖的十部电影
                    div(style='padding: 18px 10px;')
                        img.recommendimg(src='http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg' )
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机里找了一张图镇楼……安静的暑假夏日里安静地路过安静的钟楼草坪。既似初来乍到，又像不曾远离。 2017年2月19日更新： 这个回答从首答
                .window
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span.bullet.bullet-red
                        span.bullet.bullet-green
                        span.bullet.bullet-yellow
                        a.title(href='/') 史上最恐怖的十部电影
                    div(style='padding: 18px 10px;')
                        img.recommendimg(src='http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg' )
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机里找了一张图镇楼……安静的暑假夏日里安静地路过安静的钟楼草坪。既似初来乍到，又像不曾远离。 2017年2月19日更新： 这个回答从首答
                        | 到现在已经接近两年了，收到不少知友的私信与评论，在此一并感谢大家的关注与阅 + 到现在已经接近两年了，收到不少知友的私信与评论，在此一并感谢大家的关注与阅
                        | 到现在已经接近两年了，收到不少知友的私信与评论，在此一并感谢大家的关注与阅......
                .window
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span.bullet.bullet-red
                        span.bullet.bullet-green
                        span.bullet.bullet-yellow
                        a.title(href='/') 史上最恐怖的十部电影
                    div(style='padding: 18px 10px;')
                        img.recommendimg(src='http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg' )
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机里找了一张图镇楼……安静的暑假夏日里安静地路过安静的钟楼草坪。既似初来乍到，又像不曾远离。 2017年2月19日更新： 这个回答从首答
                        | 到现在已经接近两年了，收到不少知友的私信与评论，在此一并感谢大家的关注与阅 + 到现在已经接近两年了，收到不少知友的私信与评论，在此一并感谢大家的关注与阅
                        | 到现在已经接近两年了，收到不少知友的私信与评论，在此一并感谢大家的关注与阅......
            .col-md-6
                .window1
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span 最新影片
                    div(style='padding: 18px 10px;')
                        p
                            a(href='/' style='color:black') 金刚：骷髅岛
                            label(style='float:right') 5.20
                        p
                            a(href='/' style='color:black') 天际浩劫
                            label(style='float:right') 5.20
                        p
                            a(href='/' style='color:black') 金瓶梅
                            label(style='float:right') 5.20
                        p
                            a(href='/' style='color:black') 复仇者联盟
                            label(style='float:right') 5.20
                        p
                            a(href='/' style='color:black') 花儿与少年
                            label(style='float:right') 5.20
                .window1
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span 最新电视剧
                    div(style='padding: 18px 10px;')
                        p
                            a(href='/' style='color:black') 金刚：骷髅岛
                            label(style='float:right') 5.20
                        p
                            a(href='/' style='color:black') 天际浩劫
                            label(style='float:right') 5.20
                        p
                            a(href='/' style='color:black') 金瓶梅
                            label(style='float:right') 5.20
                        p
                            a(href='/' style='color:black') 复仇者联盟
                            label(style='float:right') 5.20
                        p
                            a(href='/' style='color:black') 花儿与少年
                            label(style='float:right') 5.20











