extends layout

block content
    .container(style='margin-top:70px')
        .row
            h1.mytitle Delicious snacks are here
            h3.mysubtitle We don't produce snacks,we are the carrier of snacks.
            .bar8
                input.myinput2(placeholder="商品名称或品牌名称")
                button.mybutton2 搜索
            .bar9
                div
                    button(style='margin-right:10px').btn 三只松鼠
                    button.btn 百草园
                    button(style='margin-left:10px').btn 良品铺子求二维的
            .col-md-3.col-sm-4.col-xs-12
                .window3
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span.bullet.bullet-red
                        span.bullet.bullet-green
                        span.bullet.bullet-yellow
                        span.title 三只松鼠旗舰店
                    div(style='padding: 18px 10px;')
                        img.shopimg(src='https://gd4.alicdn.com/imgextra/i1/2925761898/TB2re8znCBjpuFjSsplXXa5MVXa_!!2925761898.jpg' )
                        | 手机里找了一张图镇楼……安静的暑假夏日里安静地路过安静的钟楼草坪。
            .col-md-3.col-sm-4.col-xs-12
                .window3
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span.bullet.bullet-red
                        span.bullet.bullet-green
                        span.bullet.bullet-yellow
                        span.title 良品铺子旗舰店
                    div(style='padding: 18px 10px;')
                        img.shopimg(src='https://gd1.alicdn.com/imgextra/i4/0/TB11qwKOXXXXXcWXpXXXXXXXXXX_!!0-item_pic.jpg' )
                        | 手机里找了一张图镇楼……安静的暑假夏日里安静地路过安静的钟楼草坪。
            .col-md-3.col-sm-4.col-xs-12
                .window3
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span.bullet.bullet-red
                        span.bullet.bullet-green
                        span.bullet.bullet-yellow
                        span.title 百草园旗舰店
                    div(style='padding: 18px 10px;')
                        img.shopimg(src='https://gd2.alicdn.com/imgextra/i3/2848000153/TB2vNbVtXXXXXagXXXXXXXXXXXX_!!2848000153.jpg_400x400.jpg' )
                        | 手机里找了一张图镇楼……安静的暑假夏日里安静地路过安静的钟楼草坪。
            .col-md-3.col-sm-4.col-xs-12
                .window3
                    div(style='line-height: 30px;vertical-align: top;padding: 2px 9px 0')
                        span.bullet.bullet-red
                        span.bullet.bullet-green
                        span.bullet.bullet-yellow
                        span.title 三只松鼠旗舰店
                    div(style='padding: 18px 10px;')
                        img.shopimg(src='https://gd2.alicdn.com/imgextra/i3/2848000153/TB2vNbVtXXXXXagXXXXXXXXXXXX_!!2848000153.jpg_400x400.jpg' )
                        | 手机里找了一张图镇楼……安静的暑假夏日里安静地路过安静的钟楼草坪。

